<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://trevorthompsonhomework5.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>trevorthompsonhomework5.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TrevorThompsonHomework5</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TrevorThompsonHomework5</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MyDBConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:thompson333k.database.windows.net,1433;Initial Catalog=Thompson_Trevor_HW5;User ID=trevor.thompson@thompson333k;Password=Marchmadn3$$;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Thompson_Trevor_HW5.DAL.AppDbContext, Thompson_Trevor_HW5" MigrationConfiguration="Thompson_Trevor_HW5.Migrations.Configuration, Thompson_Trevor_HW5" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MyDBConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:thompson333k.database.windows.net,1433;Initial Catalog=Thompson_Trevor_HW5;User ID=trevor.thompson@thompson333k;Password=Marchmadn3$$;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>