
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    <h2>Member Tracker Home Page</h2>
@Html.ActionLink("Members Page", "Index", "Members")
</p>
<p>
@Html.ActionLink("Events Page", "Index", "Events")
</p> 
<p>
@Html.ActionLink("Committees Page", "Index", "Committees")
</p>


